#Logo
{
	font-family: monospace;
	color: #A4A4A4;
	text-align: center;
	width:100%;
	height: 13%;
}

#profile_edit
{
	font-size: 20px;
}


#profile
{
	width: 50%;
	height: 300px;
}

li
{
	font-size: 30px;
}

li div
{
	font-size: 20px;
}

div
{
	font-size: 40px;
	font: Georgia, "Times New Roman", Times, serif;
	border-bottom:1px solid #EAEAEA;
}

div span
{
	display:inline-block;
	width: 300px;
	
}

table
{
	font-size: 20px;
}

table td
{
	width: 300px;
}



.first-row
{
	background-color: #E4E4E4
}