#Logo
{
	border-bottom: 1px solid #E4E4E4;
	padding: 0px 0px 10px 40px;

}

div
{

	margin: 0px auto;
	width: 700px;
	height: 300px;
	border: 1px solid #000000;
	font: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}